@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: Rubik;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Rubik;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 112.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    margin-right: 0.625rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.header {
  position: relative;
  width: 100%;
}
.header__bg {
  background-color: #212832;
  width: 100%;
  height: 6.5625rem;
  border-radius: 0px 0px 3.1875rem 3.1875rem;
  z-index: -1;
}
.header__completed {
  padding: 0.625rem 0.9375rem;
  min-width: 36.25rem;
  background-color: #212832;
  border-radius: 0px 0px 3.1875rem 3.1875rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 114.375em) {
  .header__completed {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (font-size: clamp( 1.125rem , 0.9925496689rem  +  0.6622516556vw , 1.75rem )) {
    .header__completed {
      font-size: clamp( 1.125rem , 0.9925496689rem  +  0.6622516556vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9925496689rem  +  0.6622516556vw , 1.75rem )) {
    .header__completed {
      font-size: calc(1.125rem + 0.625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .header__completed {
    font-size: 1.125rem;
  }
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 114.375em) {
  .main-bg {
    margin-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (margin-right: clamp( 0.9375rem , 0.6063741722rem  +  1.6556291391vw , 2.5rem )) {
    .main-bg {
      margin-right: clamp( 0.9375rem , 0.6063741722rem  +  1.6556291391vw , 2.5rem );
    }
  }
  @supports not (margin-right: clamp( 0.9375rem , 0.6063741722rem  +  1.6556291391vw , 2.5rem )) {
    .main-bg {
      margin-right: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .main-bg {
    margin-right: 0.9375rem;
  }
}
@media (min-width: 114.375em) {
  .main-bg {
    margin-left: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (margin-left: clamp( 0.9375rem , 0.6063741722rem  +  1.6556291391vw , 2.5rem )) {
    .main-bg {
      margin-left: clamp( 0.9375rem , 0.6063741722rem  +  1.6556291391vw , 2.5rem );
    }
  }
  @supports not (margin-left: clamp( 0.9375rem , 0.6063741722rem  +  1.6556291391vw , 2.5rem )) {
    .main-bg {
      margin-left: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .main-bg {
    margin-left: 0.9375rem;
  }
}

.welcome-page {
  position: relative;
}
.welcome-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 114.375em) {
  .welcome-page__main-block {
    padding-top: 17.375rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (padding-top: clamp( 6.25rem , 3.892384106rem  +  11.7880794702vw , 17.375rem )) {
    .welcome-page__main-block {
      padding-top: clamp( 6.25rem , 3.892384106rem  +  11.7880794702vw , 17.375rem );
    }
  }
  @supports not (padding-top: clamp( 6.25rem , 3.892384106rem  +  11.7880794702vw , 17.375rem )) {
    .welcome-page__main-block {
      padding-top: calc(6.25rem + 11.125 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .welcome-page__main-block {
    padding-top: 6.25rem;
  }
}
.welcome-page__footer-btn {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 0px 2.5rem;
}
.welcome-page__cone {
  position: absolute;
  left: 0.625rem;
  top: 3.75rem;
}
.welcome-page__pl {
  position: absolute;
  right: 6.25rem;
  top: 4.375rem;
}
.welcome-page__sf {
  position: absolute;
  left: 7.5rem;
  bottom: -24rem;
}
.welcome-page__ys {
  position: absolute;
  right: 10rem;
  bottom: -16rem;
}

.main-block__title {
  display: inline-block;
  color: #212832;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0px 2rem;
  border-bottom: solid 0.3125rem #00adb4;
}
@media (min-width: 114.375em) {
  .main-block__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (font-size: clamp( 1.75rem , 1.4850993377rem  +  1.3245033113vw , 3rem )) {
    .main-block__title {
      font-size: clamp( 1.75rem , 1.4850993377rem  +  1.3245033113vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.4850993377rem  +  1.3245033113vw , 3rem )) {
    .main-block__title {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .main-block__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 114.375em) {
  .main-block__title {
    padding-left: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (padding-left: clamp( 0.625rem , 0.3336092715rem  +  1.4569536424vw , 2rem )) {
    .main-block__title {
      padding-left: clamp( 0.625rem , 0.3336092715rem  +  1.4569536424vw , 2rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.3336092715rem  +  1.4569536424vw , 2rem )) {
    .main-block__title {
      padding-left: calc(0.625rem + 1.375 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .main-block__title {
    padding-left: 0.625rem;
  }
}
@media (min-width: 114.375em) {
  .main-block__title {
    padding-right: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (padding-right: clamp( 0.625rem , 0.3336092715rem  +  1.4569536424vw , 2rem )) {
    .main-block__title {
      padding-right: clamp( 0.625rem , 0.3336092715rem  +  1.4569536424vw , 2rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.3336092715rem  +  1.4569536424vw , 2rem )) {
    .main-block__title {
      padding-right: calc(0.625rem + 1.375 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .main-block__title {
    padding-right: 0.625rem;
  }
}
.main-block__btns {
  margin-top: 1.25rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 4.4375rem;
  justify-content: center;
}
.main-block__login {
  color: #fff;
  border-radius: 0.4375rem;
  background: #393d46;
  font-size: 1.625rem;
  width: 13.75rem;
  height: 3.875rem;
  flex-shrink: 0;
}
.main-block__registration {
  color: #212832;
  border-radius: 0.4375rem;
  background: linear-gradient(180deg, #e9eef6 -75.81%, #00adb4 100%);
  font-size: 1.625rem;
  width: 13.75rem;
  height: 3.875rem;
  flex-shrink: 0;
}

.footer-btn {
  display: flex;
  cursor: pointer;
  border-radius: 3.5625rem 3.5625rem 0px 0rem;
  background: #00adb4;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 114.375em) {
  .footer-btn {
    width: 41.25rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (width: clamp( 20rem , 15.4966887417rem  +  22.5165562914vw , 41.25rem )) {
    .footer-btn {
      width: clamp( 20rem , 15.4966887417rem  +  22.5165562914vw , 41.25rem );
    }
  }
  @supports not (width: clamp( 20rem , 15.4966887417rem  +  22.5165562914vw , 41.25rem )) {
    .footer-btn {
      width: calc(20rem + 21.25 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .footer-btn {
    width: 20rem;
  }
}
@media (min-width: 114.375em) {
  .footer-btn {
    height: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (height: clamp( 5rem , 4.0728476821rem  +  4.6357615894vw , 9.375rem )) {
    .footer-btn {
      height: clamp( 5rem , 4.0728476821rem  +  4.6357615894vw , 9.375rem );
    }
  }
  @supports not (height: clamp( 5rem , 4.0728476821rem  +  4.6357615894vw , 9.375rem )) {
    .footer-btn {
      height: calc(5rem + 4.375 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .footer-btn {
    height: 5rem;
  }
}
.footer-btn > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-btn__title {
  color: #212832;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 114.375em) {
  .footer-btn__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (font-size: clamp( 1.25rem , 1.1175496689rem  +  0.6622516556vw , 1.875rem )) {
    .footer-btn__title {
      font-size: clamp( 1.25rem , 1.1175496689rem  +  0.6622516556vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1175496689rem  +  0.6622516556vw , 1.875rem )) {
    .footer-btn__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .footer-btn__title {
    font-size: 1.25rem;
  }
}
.footer-btn__icon {
  transform: translate3d(0, -40%, 0);
  animation: spin 1.8s infinite linear;
}
@media (max-width: 47.99875em) {
  .footer-btn__icon {
    display: none;
  }
}
@media (min-width: 114.375em) {
  .footer-btn__icon {
    margin-top: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (margin-top: clamp( 0.75rem , 0.6572847682rem  +  0.4635761589vw , 1.1875rem )) {
    .footer-btn__icon {
      margin-top: clamp( 0.75rem , 0.6572847682rem  +  0.4635761589vw , 1.1875rem );
    }
  }
  @supports not (margin-top: clamp( 0.75rem , 0.6572847682rem  +  0.4635761589vw , 1.1875rem )) {
    .footer-btn__icon {
      margin-top: calc(0.75rem + 0.4375 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .footer-btn__icon {
    margin-top: 0.75rem;
  }
}
.footer-btn:hover {
  background: #01979c;
}

@keyframes spin {
  0% {
    transform: translate3d(0, -40%, 0);
  }
  50% {
    transform: translate3d(0, 40%, 0);
  }
  100% {
    transform: translate3d(0, -40%, 0);
  }
}
@media (max-width: 106.25rem) {
  .welcome-page__cone {
    position: absolute;
    left: -5rem;
    top: 0;
  }
  .welcome-page__pl {
    position: absolute;
    right: -2rem;
    top: 4.375rem;
  }
  .welcome-page__sf {
    position: absolute;
    left: 2rem;
    bottom: -24rem;
  }
  .welcome-page__ys {
    position: absolute;
    right: 2rem;
    bottom: -16rem;
  }
}
@media (max-width: 74.9375rem) {
  .welcome-page__cone {
    display: none;
  }
  .welcome-page__pl {
    display: none;
  }
  .welcome-page__sf {
    display: none;
  }
  .welcome-page__ys {
    display: none;
  }
}
.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212832;
}
.header-main__firstImg {
  margin-right: 1rem;
}
.header-main__lastImg {
  margin-left: 1rem;
}
@media (max-width: 73.75rem) {
  .header-main__lastImg {
    display: none;
  }
  .header-main__firstImg {
    display: none;
  }
}

.header-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-main-content__title {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.0625rem 1rem;
}
@media (min-width: 114.375em) {
  .header-main-content__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (font-size: clamp( 1.5rem , 1.4205298013rem  +  0.3973509934vw , 1.875rem )) {
    .header-main-content__title {
      font-size: clamp( 1.5rem , 1.4205298013rem  +  0.3973509934vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.4205298013rem  +  0.3973509934vw , 1.875rem )) {
    .header-main-content__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .header-main-content__title {
    font-size: 1.5rem;
  }
}
.header-main-list {
  display: flex;
  background-color: #fff;
}
.header-main-list__item {
  cursor: pointer;
  color: #212832;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Rubik;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0 0 2.4rem 2.4rem;
  background: #00adb4;
  text-wrap: nowrap;
  width: 100%;
  height: 3.75rem;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 114.375em) {
  .header-main-list__item {
    padding-left: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (padding-left: clamp( 0.5rem , -0.0562913907rem  +  2.7814569536vw , 3.125rem )) {
    .header-main-list__item {
      padding-left: clamp( 0.5rem , -0.0562913907rem  +  2.7814569536vw , 3.125rem );
    }
  }
  @supports not (padding-left: clamp( 0.5rem , -0.0562913907rem  +  2.7814569536vw , 3.125rem )) {
    .header-main-list__item {
      padding-left: calc(0.5rem + 2.625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .header-main-list__item {
    padding-left: 0.5rem;
  }
}
@media (min-width: 114.375em) {
  .header-main-list__item {
    padding-right: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (padding-right: clamp( 0.5rem , -0.0562913907rem  +  2.7814569536vw , 3.125rem )) {
    .header-main-list__item {
      padding-right: clamp( 0.5rem , -0.0562913907rem  +  2.7814569536vw , 3.125rem );
    }
  }
  @supports not (padding-right: clamp( 0.5rem , -0.0562913907rem  +  2.7814569536vw , 3.125rem )) {
    .header-main-list__item {
      padding-right: calc(0.5rem + 2.625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .header-main-list__item {
    padding-right: 0.5rem;
  }
}
@media (min-width: 114.375em) {
  .header-main-list__item {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (font-size: clamp( 1.25rem , 1.1175496689rem  +  0.6622516556vw , 1.875rem )) {
    .header-main-list__item {
      font-size: clamp( 1.25rem , 1.1175496689rem  +  0.6622516556vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1175496689rem  +  0.6622516556vw , 1.875rem )) {
    .header-main-list__item {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .header-main-list__item {
    font-size: 1.25rem;
  }
}
.header-main-list__item:hover {
  background: #01979c;
}
.header-main-list__item:first-child {
  border-radius: 0 0 2.4rem 0;
}
.header-main-list__item:last-child {
  border-radius: 0 0 0 2.4rem;
}
.header-main-list__span {
  display: inline-block;
  background-color: #212832;
  width: 1rem;
  height: 1.625rem;
}

@media (max-width: 47.99875em) {
  .header-main-list {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #212832;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
    align-items: center;
    transition: left 0.2s ease-in-out;
  }
  .header-main-list__item {
    border-radius: 2.4rem !important;
    max-width: 18.75rem;
    font-size: 1.625rem;
    padding: 1rem 0;
  }
  .header-main-list__span {
    display: none;
  }
  .menu-open .header-main-list {
    left: 0;
  }
}
/************************************/
.welcome-page__title {
  margin-top: 0.75rem;
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Rubik;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 2rem 0.625rem 2rem;
  border-bottom: solid 0.3125rem #00adb4;
}
.welcome-page-content {
  width: 100%;
  margin-top: 1rem;
}
.welcome-page-content__title {
  color: #000;
  text-align: center;
  font-family: Rubik;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.roadBlock {
  margin-top: 1.3rem;
}
.roadBlock__full {
  position: relative;
  display: flex;
}
.roadBlock__text {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.625rem;
}
.roadBlock__cn {
  width: 56.3125rem;
  height: 6.75rem;
  border-radius: 2.125rem;
  background: #212832;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.roadBlock__full-1 > .home-img {
  margin-top: 2rem;
}
.roadBlock__phon-text {
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Rubik;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: -0.04rem;
  top: 1.2rem;
  position: absolute;
}
.roadBlock__phon-block {
  position: relative;
  margin-left: 0.625rem;
}
.roadBlock__full-2 {
  justify-content: end;
}
.roadBlock__full-2 > .home-img {
  margin-top: 2rem;
}
.roadBlock__full-4 {
  margin-left: 2.75rem;
  justify-content: end;
}
.roadBlock__full-4 > .home-img {
  margin-bottom: 2rem;
}
.roadBlock__4 {
  margin-top: 2rem;
}
.roadBlock__full-5 > .home-img {
  margin-bottom: 2rem;
}
.roadBlock__5 {
  margin-top: 2rem;
}

.element-animation {
  opacity: 0;
}

.element-animation.element-show {
  opacity: 1;
  transition: opacity 1s;
}

.element-animation {
  opacity: 0;
  transform: translateY(50%);
}
@media (max-width: 79.9375rem) {
  .element-animation {
    opacity: 1;
    transform: translateY(0%);
  }
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}

.additional__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.additional__links {
  width: 100%;
  margin-top: 1.5625rem;
}
.additional__item {
  background-color: #393d46;
  display: flex;
}
.additional__imgs {
  margin-top: 1.375rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.additional__imgs > a {
  transition: opacity 0.2s ease-in-out;
}
.additional__imgs > a:hover {
  opacity: 0.8;
}

.item-link {
  height: 5.75rem;
}
.item-link__title {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Rubik;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
  border-radius: 0px 37px 37px 0px;
  background: #ffd05b;
}
.item-link__title > p {
  text-align: justify;
  width: 100%;
  padding: 0 2rem;
}
.item-link__title > img {
  padding-left: 0.625rem;
}
.item-link__link {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.2s ease-in-out;
}
.item-link__link:hover {
  color: #b5b5b5;
}
.item-link:not(:first-child) {
  margin-top: 1.375rem;
}

.intersection {
  position: relative;
  margin: 0 auto;
  width: 81.25rem;
  height: 41.875rem;
  background: url("../img/tests/intersections/1.jpg");
  overflow: hidden;
}

.car {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
           supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
  position: absolute;
}
.car img {
  position: relative;
}
.car:hover .count {
  opacity: 1;
}
.car .count {
  transition: opacity 0.2s ease-in-out;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  opacity: 0.6;
}

.intersectionCenter {
  width: 22.0625rem;
  height: 18rem;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
  left: 458px;
  top: 220px;
}

.sidebar {
  flex-shrink: 0;
  z-index: 2;
  width: 6.25rem;
  border-right: 0.25rem solid #00adb4;
  transition: width 0.2s ease-in-out;
}
.sidebar .voice-btn {
  width: 100%;
  text-align: center;
}
@media (min-width: 114.375em) {
  .sidebar .voice-btn {
    margin-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 114.375em) {
  @supports (margin-top: clamp( 1.5rem , 0.7582781457rem  +  3.7086092715vw , 5rem )) {
    .sidebar .voice-btn {
      margin-top: clamp( 1.5rem , 0.7582781457rem  +  3.7086092715vw , 5rem );
    }
  }
  @supports not (margin-top: clamp( 1.5rem , 0.7582781457rem  +  3.7086092715vw , 5rem )) {
    .sidebar .voice-btn {
      margin-top: calc(1.5rem + 3.5 * (100vw - 20rem) / 94.375);
    }
  }
}
@media (max-width: 20em) {
  .sidebar .voice-btn {
    margin-top: 1.5rem;
  }
}
.sidebar .voice-btn .play .playimg,
.sidebar .voice-btn .resume .playimg {
  display: inline;
}
.sidebar .voice-btn .play .pauseimg,
.sidebar .voice-btn .resume .pauseimg {
  display: none;
}
.sidebar .voice-btn .pause .playimg {
  display: none;
}
.sidebar .playimg:hover,
.sidebar .pauseimg:hover {
  background-color: #000;
}
.sidebar.open {
  transition: all 0.2s ease-in-out;
  width: 18.75rem;
}
.sidebar.open .sidebar__title {
  display: none;
}
.sidebar.open .sidebar__title.close {
  display: block;
}
.sidebar.open .sidebar-icon {
  rotate: 90deg;
}
.sidebar.open .sidebar__item img {
  display: none;
}
.sidebar.open .sidebar__item p {
  display: flex;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.sidebar.open .sidebar__item p:hover {
  background-color: #00adb4;
}
.sidebar.open .sidebar__item svg {
  transition: rotate 0.2s ease-in-out;
}
.sidebar__title {
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem 0 0.3125rem 0;
  border-bottom: 0.25rem solid #00adb4;
  text-wrap: nowrap;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar__title.-big {
  font-size: 1.75rem;
  padding-left: 0;
  text-align: center;
}
.sidebar__title.close {
  display: none;
}
.sidebar__items {
  width: inherit;
  position: fixed;
}
.sidebar__item {
  position: relative;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar__item img {
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.sidebar__item img:hover {
  opacity: 0.7;
}
.sidebar__item img:not(:first-child) {
  margin-top: 0.8125rem;
}
.sidebar__item p {
  display: none;
  padding: 0.9375rem 0.5625rem 0.9375rem 1.375rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  text-wrap: nowrap;
}
.sidebar__submenu {
  display: none;
}
.sidebar__submenu.open {
  display: flex;
  flex-direction: column;
}
.sidebar__submenu.hover {
  width: 220px;
  display: block;
  position: absolute;
  background-color: #00adb4;
  left: 100px;
  top: 0;
}
.sidebar__submenu.hover button {
  padding: 0.5rem;
}
.sidebar__submenu button {
  display: block;
  width: 100%;
  text-align: start;
  padding: 0.3125rem 0.3125rem 0.3125rem 1.8rem;
  border: 0.0625rem solid transparent;
}
.sidebar__submenu button:hover {
  border: 0.0625rem solid #01979c;
}

.sidebar-icon {
  cursor: pointer;
  margin-left: 0.75rem;
  margin-top: 1.25rem;
  width: 2.125rem;
  flex-shrink: 0;
}
.sidebar-icon svg {
  position: fixed;
}

#rect {
  display: none;
  opacity: 0;
}

#rect.is-visible {
  display: flex;
  animation: fadeInFromNone 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.theory-main {
  position: relative;
}

.theory__content {
  margin-top: 1.125rem;
  width: 100%;
}
.theory__content h3 {
  font-size: 1.75rem;
  padding: 0.625rem;
  font-weight: 600;
}
.theory__content p {
  font-size: 1.5rem;
  padding: 0.625rem;
}
.theory__content span {
  font-weight: 600;
}
.theory__content img {
  padding: 1.25rem;
}
.theory__container-content {
  margin-top: 0.5rem;
  width: 100%;
}
.theory__title {
  border-radius: 2.875rem;
  text-align: center;
  background-color: #af3939;
  padding: 0.5625rem 0;
  color: #fff;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebar-page {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
